<div id="header">
    <div>
        <a href="index.html" class="logo"><img src="{{site.url}}/images/logo.png" alt=""></a>
        <ul id="navigation">
            <li>
                <a href="{{"/" | relative_url}}">Home</a>
            </li>
            <li class="menu">
                <a href="{{"/about" | relative_url }}">About</a>
                <ul class="primary">
                    <li>
                        <a href="{{"/product" | relative_url }}">Product</a>
                    </li>
                </ul>
            </li>
            <li class="menu">
                <a href="{{"/blog" | relative_url }}">Blog</a>
                <ul class="secondary">
                    <li>
                        <a href="{{"/singlepost" | relative_url }}">Single post</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{"/contact.html" | relative_url }}">Contact</a>
            </li>
        </ul>
    </div>
</div>