---
layout: default
---
<body>
	<div id="page">
		<div id="body">
			<div class="header">
				<div>
					<h1>{{ page.title }}</h1>
				</div>
			</div>
			<div class="singlepost">
				<div class="featured">
                    {% if page.background %}
                    <img src={{ page.background }} alt="">
                    {% else %}
                    <img src="{{site.url}}/images/strwberry-delights.jpg" alt="">
                    {% endif %}
					<h1>{{ page.title }}</h1>
					<span>By {% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %} on {{ page.date | date: '%B %d, %Y'}}</span>
                    {{ content }}
					<div id="disqus_thread"></div>
					<script>

					/**
					*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
					*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
					/*
					var disqus_config = function () {
					this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
					this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
					};
					*/
					(function() { // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = 'https://freeze-1.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
					})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					<a href="blog.html" class="load">back to blog</a>
				</div>
				
				<div class="sidebar">
					<h1>Recent Posts</h1>
					<img src="{{site.url}}/images/on-diet.png" alt="">
					<h2>ON THE DIET</h2>
					<span>By Admin on November 28, 2023</span>
					<p>You can replace all this text with your own text. You can remove any link to our website from this website template.</p>
					<a href="singlepost.html" class="more">Read More</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>